# Membership and Boolean Operators

In [ ]:
5 in [2, 4, 5]

True

In [ ]:
5 not in [2,3,4,5,7,8]

False

In [ ]:
5 < 6 and 4 ==4

True

In [ ]:
5>6 and 5==5

False

# Input-Output Function and Comments

In [ ]:
input("Please enter your name: ")

Please enter your name: Physiwell Maume

'Physiwell Maume'

In [ ]:
#Sample comment haha
#"""hey
#this is tripple line comment"""

'hey\nthis is tripple line comment'

#Control Structures

In [ ]:
var = int(input("Enter an integer: "))
if var < 10:
    print("This is less than 10")
else:
    print("This is greater than 10")

Enter an integer: 5
This is less than 10

In [ ]:
var2 = 0
while var2 < 10:
    print(f"Value {var2} is less than 10")
    var2 += 1

Value 0 is less than 10
Value 1 is less than 10
Value 2 is less than 10
Value 3 is less than 10
Value 4 is less than 10
Value 5 is less than 10
Value 6 is less than 10
Value 7 is less than 10
Value 8 is less than 10
Value 9 is less than 10

#if-else statement

In [ ]:
#Program to determine pass or fail
marks = int(input("Enter your marks in maths: "))
if marks == 100:
    print("You aced the exam")
elif marks >= 50:
    print("You passed the exam")
else:
    print("Fail")

Enter your marks in maths: 34
Fail

# Iterative Control Statements
# for and while loop

In [ ]:
for letter in "python":
  print("Char is: ", letter)

Char is:  p
Char is:  y
Char is:  t
Char is:  h
Char is:  o
Char is:  n

In [ ]:
for num in [1,2,3,4,5,6,7,8,9,10]:
  if num >= 5:
    print(f"{num} is greater than 5")
    break
  else:
    print(f"{num} is less than 5")
    continue
  print(f"{num} is: ", num)

1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is greater than 5

In [ ]:
#While loop example
count = 0
while count <= 5:
  print("Count is: ",count)
  count += 1

Count is:  0
Count is:  1
Count is:  2
Count is:  3
Count is:  4
Count is:  5

# Loop Controls: Break and Continue

In [ ]:
#This is example for break statement
count = 0
while count <=5:
  if count ==3:
    break
  else:
    print("Count num is: ", count)
    count += 1
print("End of the loop")

Count num is:  0
Count num is:  1
Count num is:  2
End of the loop

In [ ]:
#Example for break
name = "Physiwell"

for letter in name:
  if letter == "l":
    break
  else:
    print("Letter is: ", letter)

Letter is:  P
Letter is:  h
Letter is:  y
Letter is:  s
Letter is:  i
Letter is:  w
Letter is:  e

In [ ]:
#Example for break statement
for letter in "Physiwell":
  if letter == "l":
    continue
  else:
    print("Letter is: ", letter)

Letter is:  P
Letter is:  h
Letter is:  y
Letter is:  s
Letter is:  i
Letter is:  w
Letter is:  e

In [ ]:
num = 10
while num > 0:
  num -= 1
  if num == 5:
    continue
  print("Number is: ", num)

Number is:  9
Number is:  8
Number is:  7
Number is:  6
Number is:  4
Number is:  3
Number is:  2
Number is:  1
Number is:  0

# Lists (mutable)

In [ ]:
animals = ["lion", "antelope", "monkey"]
animals[0]
animals[1:]

['antelope', 'monkey']

In [ ]:
for num in [10, 20, 30, 40]:
  print(num)

10
20
30
40

#List Operations

In [ ]:
#Replace
myList = [10, 20, 40, 5.7]
myList[3] = 80
myList

[10, 20, 40, 80]

In [ ]:
#Insert
myList.insert(2, 30)
myList

[10, 20, 30, 30, 40, 80]

In [ ]:
#Sort
myList.sort()
myList

[10, 20, 30, 30, 40, 80]

In [ ]:
del myList[2]
myList

[10, 20, 40, 80]

In [ ]:
#Append
animals.append("tiger")
animals

['lion', 'antelope', 'monkey', 'tiger', 'tiger']

In [ ]:
#Reverse
animals.reverse()
animals

['tiger', 'tiger', 'monkey', 'antelope', 'lion']

# Tuples (immutable)

In [ ]:
animals = ("lion", "antelope", "monkey")
animals[0]

'lion'

# Sequences

In [ ]:
 #Length
 len(animals)

3

In [ ]:
#Select/Slice
animals[1:]

('antelope', 'monkey')

In [ ]:
#count
animals.count("lion")

1

In [ ]:
#Index
animals.index("monkey")

# Functions

In [ ]:
#Writing a func in python

def avg(x, y, z):
  return (x+y+z)/3

avg(10,20,30)

20.0

Global variable

In [ ]:
var = 10

def incrmntBy1():
  global var
  var += 1
  return var

incrmntBy1()

11

Lambda Functions

In [ ]:
sum = lambda x, y, z: x+y+z
sum(10,20,30)

60

In [ ]:
def func1(*args):
  for num in args:
    print(num)

func1(10,20,30)

10
20
30

In [ ]:
import math
print(math.ceil(-2.3))
print(math.floor(-2.3))
print(math.trunc(-2.3))

-2
-3
-2

In [ ]:
name = "Physiwell"
name.startswith("P")
print(name.index("w"))
print(name.find("w"))
print(name.swapcase())

5
5
pHYSIWELL

In [ ]:
#strip, lstrip and rstrip
name = "  Physiwell  "
print(name.strip())
print(name.lstrip())
print(name.rstrip())
print(len(name))
print(len(name.strip()))

Physiwell
Physiwell
  Physiwell
13
9

#Modules

In [ ]:
import sys
sys.path

['/content',
 '/env/python',
 '/usr/lib/python310.zip',
 '/usr/lib/python3.10',
 '/usr/lib/python3.10/lib-dynload',
 '',
 '/usr/local/lib/python3.10/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.10/dist-packages/IPython/extensions',
 '/usr/local/lib/python3.10/dist-packages/setuptools/_vendor',
 '/root/.ipython']

#Dictionaries

In [ ]:
temp = {}
temp['sun'] = 33.4
temp['mon'] = 45
temp['tue'] = 30

temp

{'sun': 33.4, 'mon': 45, 'tue': 30}

In [ ]:
#Another way of creating a dictionary
mail_address = {'physiwell': 'something@gmail.com', 'blessing': 'something2@gmail.com'}
mail_address

{'physiwell': 'something@gmail.com', 'blessing': 'something2@gmail.com'}

In [ ]:
#Accessing keys
mail_address.keys()

dict_keys(['physiwell', 'blessing'])

In [ ]:
#Accessing values
mail_address.values()

dict_values(['something@gmail.com', 'something2@gmail.com'])

In [ ]:
#Accessing value using key
mail_address['physiwell']

'something@gmail.com'

In [ ]:
my_dict = {1: 'apple', 2: 'ball'}
my_dict.values()

dict_values(['apple', 'ball'])

In [ ]:
#Accessing values
my_dict[2]

'ball'

In [ ]:
my_dict.get(1)

'apple'

In [ ]:
#adding values
my_dict[3] = 'cat'
my_dict

{1: 'apple', 2: 'ball', 3: 'cat'}

In [ ]:
my_dict[2]="bat"
my_dict

{1: 'apple', 2: 'bat', 3: 'cat'}

In [ ]:
#Getting the length of dictionary
len(my_dict)

3

In [ ]:
list = [1,2,3,4,5]
dict.fromkeys(list)

{1: None, 2: None, 3: None, 4: None, 5: None}

In [ ]:
{}.fromkeys(range(1,7),10)

{1: 10, 2: 10, 3: 10, 4: 10, 5: 10, 6: 10}

In [ ]:
my_dict[3] = 'cat'
del my_dict[3]
my_dict

{1: 'apple', 2: 'bat'}

# Exception Handling

In [ ]:
#Handling exceptions
import math
input_num = int(input("Enter a num: "))
try:
  fact = math.factorial(input_num)
  print(fact)
except ValueError:
  print("Invalid input")

Enter a num: 4
24

In [ ]:
import math
num = int(input("Enter a num: "))
try:
  fact = math.factorial(num)
  print(fact)
except ValueError:
  print("Invalid input")
finally:
  print("End of program")

Enter a num: 5
120
End of program

#Object Oriented Programming

In [ ]:
class person:
  def __init__(self, name):
    self.name = name

  def display(self):
    print("Hello", self.name)

person1 = person("Physiwell")
person1.display()

Hello Physiwell

In [ ]:
class student:

  college = "Trinity College" #class variable

  def __init__(self, rollno, name):
    self.rollno = rollno
    self.name = name

  def display(self):
    print("Student name: ", self.name)
    print("Student rollno: ", self.rollno)
    print("College name: ", student.college)

student1 = student(1, "Physiwell")
student1.display()

Student name:  Physiwell
Student rollno:  1
College name:  Trinity College

##Inheritance

In [ ]:
class animal:
  def __init__(self, name):
    self.name = name

  def display(self):
    print("Animal name: ", self.name)

class dog(animal):
  def something(self):
    print("I am a dog")

dog("Pinot").display()

Animal name:  Pinot

## Encapsulation

In [ ]:
class car:
  def __init__(self):
    self.__updateSoftware()

  def drive(self):
    print("Driving")

  def __updateSoftware(self):
    print("Updating software")

redcar = car()
redcar.drive()

Updating software
Driving

#Time method

In [ ]:
import time
time.localtime(time.time())

time.struct_time(tm_year=2024, tm_mon=9, tm_mday=5, tm_hour=6, tm_min=33, tm_sec=2, tm_wday=3, tm_yday=249, tm_isdst=0)

In [ ]:
time.asctime(time.localtime(time.time()))

'Thu Sep  5 06:42:12 2024'

In [ ]:
import calendar
cal = calendar.calendar(2024)
print(cal)

                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

#Set Data Type

In [ ]:
my_set = set()
type(my_set)

set

In [ ]:
set1 = {1,2,3,4,5,5,5,7,6,8}
set1

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
len(set1)

8

In [ ]:
set1.add(10)
set1

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [ ]:
set1.remove(10)
set1

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
set2 = {"hey", "hello", "hi"}
set1 | set2

{1, 2, 3, 4, 5, 6, 7, 8, 'hello', 'hey', 'hi'}

In [ ]:
setc = set1.copy()
setc

{1, 2, 3, 4, 5, 6, 7, 8}

#Iterators

In [ ]:
list1 = [1,2,3,4,5]
iterator = iter(list1)
next(iterator)

1

In [ ]:
next(iterator)

3

In [ ]:
next(iterator)

4

In [ ]:
color = ["red", "green", "blue"]

#Generators

In [ ]:
def fib(limit):
  a, b = 0, 1
  while a < limit:
    #print("Before yield")
    yield a
    #print("After yield")
    a, b = b, a+b

x = fib(5)

In [ ]:
next(x)

After yield
Before yield

1

REGEX

In [ ]:
# ^ -> beginning of the line
# $ -> matches the end of the line
# . -> matches the single character
# [1-9] -> any single character from 1 to 9

"""RE Functions
findall()
search()
split()
sub()
match()
replace()
search()
"""

'RE Functions \nfindall()\nsearch()\nsplit()\nsub()\nmatch()\nreplace()\nsearch()\n'

In [ ]:
import re

line = "pet:cat I love cats"
#match = re.match(pattern, string, <flag=0>)
match = re.search("cats", line)
if match:
  print("Match found")

Match found

#Recursive Function

In [ ]:
def counter(c):
  if c <= 0:
    return c
  else:
    return c + counter(c-1)

counter(5)

15

In [ ]:
# prompt: write a recursive factorial function

def factorial(n):
  if n < 0:
    return "The input is negative"
  elif n == 0:
    return 1
  else:
    return n * factorial(n-1)

In [ ]:
factorial(5)

120

# Negative Index in List

In [ ]:
my_list = [1,2,3,4,5]
my_list[-1]

5

# Looping with Index | Enumerate

In [ ]:
color = ["red", "blue", "green"]

for i in range(len(color)):
  print(i, color[i])

0 red
1 blue
2 green

In [ ]:
for index, c in enumerate(color):
  print(index, c)

0 red
1 blue
2 green

# Range and Xrange function

In [ ]:
#range(start, end, step)
#range(1, 6, 2)
#xrange(start, end, step)

In [ ]:
for i in range(1,6,2):
  print(i)

1
3
5

In [ ]:
range(1,6,2)

range(1, 6, 2)

# Input vs raw_input func | python2 | python3

In [ ]:
#raw_input is only in python2
# it returns a string
#unless you do eval(input())

#input evaluates the type entered and returns the input in the
#form it was entered

# Map and Lambda function

In [ ]:
# A lambda func is also known as anonymous function
# it is a function without a name

#The syntax of lambda func
#lambda arguments: expression

#Map function is used to apply a function to all the elements of
#a sequence

#Syntax of map function
#map(function, sequence)

In [ ]:
a = [1,2,3,4]

def square(x):
  return x**2

list(map(square, a))

[1, 4, 9, 16]

In [ ]:
list(map(lambda x: x*x, a))

[1, 4, 9, 16]

#Filter and Reduce Function

In [ ]:
#Syntax of filter()

#filter(function, iterable)

list(filter(lambda x: x%2 == 0, range(1,11)))

#reduce()
#syntax:
#reduce(function, iterable)

from functools import reduce
reduce(lambda x, y: x+y, [1,2,3,4])

10

# List comprehension definition and Syntax

In [ ]:
#Syntax
#[expression for item in iterable]
#[expression for item in iterable if conditional]
#[epression if conditional else statment for item in iterable]
#Example below
#Basic syntax
[x for x in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Conditional
[x for x in range(1,11) if x%2 == 0]

[2, 4, 6, 8, 10]

In [ ]:
#if else cond statement
[x if x>2 else x+1 for x in range(1, 11)]

[2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

# if __name__ =='__main__'

In [ ]:
__name__

'__main__'

In [ ]:
def mul(a,b):
  return a * b

if __name__ == '__main__':
  print(mul(2,3))

6

# Bitwise Operators

In [ ]:
#Unary 0 -> 1; 1 -> 0
#Bitwise complement is represented by ~
# ~x = -x - 1
#e.g ~20 = -20 - 1 which gives -21
a = 20
~a

-21

In [ ]:
#Bitwise left shift is represented by <<
a = 20
a << 2

80

In [ ]:
#Bitwise right shift syntax is >>
a = 20
a >> 2

5

#Namespace and Variable Scope

In [ ]:
#What is name in python?
#We use name to identify an object
#That is why they are called identifiers

#What is Namespace?
#It is a system which will control all the names which we use
#in our program

#Types of namespace
#1. Built-in namespace
#2. Global namespace
#3. Local

#Types of variable scope
#1. Global variable
#2. Local variable
#3. Enclosed
#4. Built-in

In [ ]:
#Global -> Contains names defined at the top level of
#the script or module
#Local -> Contains names defined inside the current function
#Enclosed -> Contains names defined inside any and all enclosed
#function
#Built-in -> contains names built in to the python language

# Closures

In [ ]:
#Function object that remembers values in the enclosing scope
#even if they are not present in memory
#We must have a nested function
#Nested func must refer values in enclosing scope
#Enclosing func must return nested function

#1. Can avoid global values
#2. Data hiding
#3. Let us implement decorators

# Decorators

In [ ]:
#What is the meaning of decorator?
#Any callable python object that is used to modify a function
#or a class

#Example
def str_upper(func):
  def inner():
    str1 = func()
    return str1.upper()
  return inner

@str_upper
def print_str():
  return "hello"

print_str()

'HELLO'

In [ ]:
#How to create a decorator
#1. Need to take a function as a parameter
#2. Add functionality to the function
#3. function need to return another function

# Copy

In [ ]:
#Immutable -> assignment operator
#mutable -> shallow copy
#mutable -> deep copy for nested objects(list)

#Shallow copy can be done in four different ways listed below
#1. Built in function list(), set(), dict()
list1 = [1,2,3,4,5]
list2 = list(list1)

#2. Slicing operator
list3 = list1[:]

#3. List comperehension
list4 = [x for x in list1]
# list4

#4. Copy from copy module
import copy
list5 = copy.copy(list1)
# list5
print(id(list1))
print(id(list5))

140505303407232
140505303462464

In [ ]:
#Deep Copy
#Creates a new object and recursively adds the copies of
#nested objects present in the original elements
deepcopyList = [1,2,3,4,5]
import copy
copyList = copy.deepcopy(deepcopyList)
print(id(deepcopyList))
print(id(copyList))

140504802051520
140504802050304

#Property Decorator

In [ ]:
#1. Property
#Below are user defined
#2. Class method
#3. Static method

class Student:
  def __init__(self, name, grade):
    self.name = name
    self.grade = grade

  @property
  def msg(self):
    return self.name + " got grade " + self.grade

student1 = Student("Physiwell", "A")
print(student1.msg)

#Property decorator allows us to use a method as attribute

Physiwell got grade A

In [ ]:
class Student:
  def __init__(self, name, grade):
    self.name = name
    self.grade = grade

  @property
  def msg(self):
    return self.name + " got grade " + self.grade

  @msg.setter
  def msg(self, msg):
    sent = msg.split(" ")
    print(sent)
    self.name = sent[0]
    self.grade = sent[-1]

student1 = Student("Physiwell", "A")
student1.msg = "Physiwell got grade A"

print("name",student1.name)
print("Grade", student1.grade)
print(student1.msg)

['Physiwell', 'got', 'grade', 'A']
name Physiwell
Grade A
Physiwell got grade A

In [ ]:
class Student:
  def __init__(self, marks):
    self.__marks = marks

  def percentage(self):
    return self.__marks * 100 / 600

  def getter(self):
    print("getting value: ", end="")
    return self.__marks

  def setter(self, value):
    if value < 0 or value > 600:
      print("Invalid marks")
    else:
      self.__marks = value

  marks = property(getter, setter)


s = Student(400)
print(s.percentage())
s.marks = 500
print(s.percentage())

66.66666666666667
83.33333333333333